* {
  box-sizing: border-box;
  padding: 0;margin: 0;
}
body {
  --primary: #7272c9;
  --secondary: #f194a4;
  background: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(#e5a1ad, #8f8fdd);
  padding: 24px;
}
.container {
  height: 640px;
  width: 480px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  /* border: 1px solid #999; */
  animation: slideUp 1s ease-out 0.5s;
}
footer {
  margin-top: auto;
  display: flex;
  border-top: 1px solid #999;
}
footer button {
  width: 50%;
  font-size: 20px;
  font-weight: 500;
}
button {
  height: 56px;
  border: none;
}
header {
  padding: 48px 16px 8px;
  text-align: center;
}
header h1 {
  color: #4848a4;
  font-size: 28px;
  margin-bottom: 12px;
  font-weight: bold;
}
header p {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}
main p {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 500;
  text-align: center;
}

main {
  padding: 20px;
  width: 100%;
  max-width: 360px;
  margin: auto;
}
form {
  /* display: flex;
  flex-direction: column; */
}
.form-control {
  /* text-align: center; */
}
.form-control label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
.form-control input {
  font-size: 16px;
  height: 52px;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
}
.form-control ~ .form-control {
  margin-top: 24px;
}

.submit {
  margin-top: 32px;
  width: 200px;
  height: 48px;
  border-radius: 8px;
  background: var(--primary);
  color: #fff;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  /* z-index: 2; */
  position: relative;
  overflow: hidden;
  transition: 0.25s all;
}
.submit:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 16px rgba(0,0,0,0.4);
}
button.toggle {
  background: var(--secondary); 
  color: #fff;
  position: relative;
  overflow: hidden;
}
.toggle:hover, .submit:hover {
  cursor: pointer;
}
.submit span, .toggle span {
  position: absolute;
  inset: 0;
  padding: 14px;
  font-size: 18px;
  z-index: 2;
}
.toggle span {
  padding: 16px;
}
.submit::before, .toggle::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background: #1f1f73;
  transition: 0.5s all;
  clip-path: circle(0px at 50% 50%);
}
.submit:hover::before {
  clip-path: circle(100px at 50% 50%);
}
.toggle::before {
  transition: 0.75s all;
  background: #a65361;
}
.toggle:hover::before {
  clip-path: circle(180px at 50% 50%);
}




.text-center {
  text-align: center;
}

.form-control {
  position: relative;
}
.form-control label {
  position: absolute;
  margin-bottom: 0;
  top: 0;
  left: 14px;
  padding: 14px;
  background: #fff;
  padding: 4px;
  transform: translateY(12px);
  transition: all 0.25s;
  pointer-events: none;
}
.form-control input::placeholder {
  visibility: hidden;
}
.form-control input:focus-visible::placeholder {
  visibility: visible;
}
.form-control input:focus-visible + label {
  transform: translateY(-14px);
  color: var(--primary);
}
.form-control input {
  outline: none;
  border: 2px solid #999;
}
.form-control input:focus-visible {
  outline: none;
  border: 2px solid var(--primary);
}
.form-control input:has() + label {
  display: none;
}
.arrow {
  position: absolute;
  inset: 0;
  opacity: 0;
  font-weight: 400;
  font-size: 20px;
  padding: 13px 0 12px 70px;
  z-index: 2;
  transition: 0.25s all;
}
.submit:hover .arrow {
  opacity: 1;
}


@keyframes slideUp {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

label.has-value {
  transform: translateY(-14px);
}